body {
    background-color: #24273A;
    color: #ccc;
}

input {
    border-color: #8100dd;
}

input:focus {
    outline: none !important;
    /* background: #252741; */
    box-shadow: 0 2px 6px rgba(129, 0, 221, 0.8) !important;
    border-color: #8100dd;
}

.url-crawl-container {
    display: flex;
    justify-content: center;
    margin-top: 16%;
    margin-bottom: 13px;
    border-color: #8100dd;
}

#crawl-input {
    width: 345px;
    border-color: #8100dd;
}

#depth-to-reach {
    background: #24273A;
    color:#BFBFBF;
    width: 68px;
    height: 35px;
    padding: 2px;
    border-radius: 4px;
    margin-left: 5px;
    border-color: #8100dd;
}

#regex {
    margin-right: 5px;
    margin-left: 0;
}

input[type=number] {
    appearance:textfield;
    -moz-appearance:spinner-textfield;
}

.search-container {
    background: #24273A;
    color: transparent;
    opacity: 50;
    display: flex;
    justify-content: center;
    margin-top: 0%;
}

input {
    background: #24273A;
    color:#BFBFBF;
    width: 300px;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
    border-color: #8100dd;
}

/* #search-input {
    width: 320px
} */

#search-input:focus {
    outline: none !important;
}

button {
    padding: 10px 15px;
    margin-left: 5px;
    background-color: #8100dd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}

button:hover {
    background-color: #7401c6;
}